<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app_user_type.name %>
</p>

<%= link_to 'Edit', edit_app_user_type_path(@app_user_type) %> |
<%= link_to 'Back', app_user_types_path %>
